.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.github {
  width: 24px;
  margin: 0.5rem 0;
}

.line {
  background-color: #7e7e7e;
  margin: 3rem 0;
  height: 1px;
}

.a-none a {
  text-decoration: none;
  color: black;
}

.img-cover {
  object-fit: cover;
  height: 10rem;
}

.h-80 {
  height: 20rem;
}

.footer {
  color: white;
}

@media (min-width: 992px) {
  .line-none {
    border: 0px !important;
  }
}
